{% from "conditionals.jinja" import wrap_conditional %}
{% extends "base-test.jinja" %}

{% block file_contents %}
{% for Matrix in MatrixTypes %}
{% call wrap_conditional(Matrix) %}
{% for Scalar in ScalarTypes %}
{% call wrap_conditional(Scalar) %}
final class {{ base_name|default("BaseMatrixScalar") }}{{ Matrix }}{{ Scalar }}Tests: XCTestCase {
    typealias Element = {{ Scalar }}
    typealias TestMatrix = {{ Matrix }}<{{ Scalar }}>

    {% filter indent %}
    {%+ block test_contents scoped %}{% endblock %}
    {% endfilter %}
}
{% endcall %}

{%+ endfor %}
{% endcall %}

{%+ endfor %}
{% endblock %}
