{% extends "base-test.jinja" %}

{% block file_contents %}
{% for Matrix in MatrixTypes %}
{% if Matrix.is_conditional %}#if {{ Matrix.condition() }}{% endif %}
{% for Scalar in ScalarTypes %}
{% if Scalar.is_conditional %}#if {{ Scalar.condition() }}{% endif %}
final class {{ base_name|default("BaseMatrixScalar") }}{{ Matrix }}{{ Scalar }}Tests: XCTestCase {
    typealias Element = {{ Scalar }}
    typealias TestMatrix = {{ Matrix }}<{{ Scalar }}>
    {% filter indent %}
    {% block test_contents scoped %}{% endblock %}
    {% endfilter %}
}
{% if Scalar.is_conditional %}#endif{% endif %}
{% endfor %}
{% if Matrix.is_conditional %}#endif{% endif %}
{% endfor %}
{% endblock %}
