{% extends "base-test.jinja" %}

{% block file_contents %}
{% for Scalar in ScalarTypes %}
{% if Scalar.is_conditional %}#if {{ Scalar.condition() }}{% endif %}
final class {{ base_name|default("BaseScalar") }}{{ Scalar }}Tests: XCTestCase {
    typealias Element = {{ Scalar }}
    {% filter indent %}
    {% block test_contents scoped %}{% endblock %}
    {% endfilter %}
}
{% if Scalar.is_conditional %}#endif{% endif %}
{% endfor %}
{% endblock %}
