{% from "conditionals.jinja" import wrap_conditional %}
{% extends "base-test.jinja" %}

{% block file_contents %}
{% for Matrix in MatrixTypes %}
{% call wrap_conditional(Matrix) %}
final class {{ base_name|default("BaseMatrix") }}{{ Matrix }}Tests: XCTestCase {
    typealias Element = Int
    typealias TestMatrix = {{ Matrix }}<Element>

    {% filter indent %}
    {%+ block test_contents scoped %}{% endblock %}
    {% endfilter %}
}
{% endcall %}

{%+ endfor %}
{% endblock %}
