{% extends "base-matrix-scalar.jinja" %}

{% block base_name %}Multiplication{% endblock %}

{% block test_contents %}
{# The results of the matrix multiplication will overflow an 8-bit signed int. #}
{% if Scalar.name != "Int8" %}
    func testMultiply() {
        let a = [[1, 2, 3], [4, 5, 6]] as TestMatrix
        let b = [[7, 8], [9, 10], [11, 12]] as TestMatrix
        let ab = [[58, 64], [139, 154]] as TestMatrix
        XCTAssertEqual(a ** b, ab)
    }
{% endif %}

{% if not Scalar.name.startswith("U") %}
    func testMultiplySigned() {
        let a = [[2, 3], [-1, 4]] as TestMatrix
        let b = [[0, 5], [3, -4]] as TestMatrix
        let ab = [[9, -2], [12, -21]] as TestMatrix
        XCTAssertEqual(a ** b, ab)
    }
{% endif %}
{% endblock %}